 /* Navigation  */
 #navbar {
     flex-direction: column;
 }
 #navbar ul li a{
     font-size: 1rem;
     padding :0px 7px;
     padding-bottom: 8px;
 }



 /* home section  */
 #home {
    height :370px;
    padding: 5px 10px;
    
 }
 #home ::before{
     height: 600px;

}
#home{
    font-size: 13px;
}
#home p{
    font-size: 0.8rem;
}
 /* Service section */
 #services{
     flex-direction: column;
}


 /* Client section  */
 #clients {
     flex-wrap: wrap;
     
 }
 .client-item img{
     padding: 2px 5px;
     width: 120px;
     height: auto;

 }


/* Contact section  */


/* footer */
/* utility classes */
.h-primary{
    font-size: 26px;

}
#btn{
    padding:5px 5px;
    margin:5px 5px;
    border : 3px solid black;
    border-radius: 4px;
    color:black;
    background-color: rgb(85, 85, 241);
    font-size: larger;
    font-weight: bolder;
}
